<div class="login">
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
 
                <div class="text-center">
                <svg width="90" height="72" class="d-inline-block align-text-top " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#63E6BE" d="M272 96c-78.6 0-145.1 51.5-167.7 122.5c33.6-17 71.5-26.5 111.7-26.5h88c8.8 0 16 7.2 16 16s-7.2 16-16 16H288 216s0 0 0 0c-16.6 0-32.7 1.9-48.3 5.4c-25.9 5.9-49.9 16.4-71.4 30.7c0 0 0 0 0 0C38.3 298.8 0 364.9 0 440v16c0 13.3 10.7 24 24 24s24-10.7 24-24V440c0-48.7 20.7-92.5 53.8-123.2C121.6 392.3 190.3 448 272 448l1 0c132.1-.7 239-130.9 239-291.4c0-42.6-7.5-83.1-21.1-119.6c-2.6-6.9-12.7-6.6-16.2-.1C455.9 72.1 418.7 96 376 96L272 96z" /></svg>

                <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                <form class="m-t" role="form">
                    <div class="form-group">
                                            <input id="txtlSDT" type="text" class="form-control my-2" placeholder="SDT" required="">
                    </div>
                    <div class="form-group">
                        <input id="txtlMK" type="password" class="form-control my-2" placeholder="Password" required="">
                    </div>
                

                    <a href="#"><small>Forgot password?</small></a>
                    <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    <a class="createa">Create an account</a>
                </form>
                 <button class="btn btn-primary block full-width m-b btnLogin">Login</button>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <img class="d-block w-100" src="https://triptovietnam.com.vn/storage/app/uploads/public/5d3/6b3/199/thumb_367_1920_1080_0_0_crop.jpg" alt="First slide">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

