<div id="contact-box" style="display: inline-block; width: 80%;" class="fancybox-content">
	<div class="container-fluid">
		<div class="row">
			<form data-request="onSubmitContactForm" data-request-validate="" data-request-flash="" class="form" action="post">
				<div class="col-md-12">
					<h4><span>Contact Us For Price: </span> <span id="contact-box-name">HOI AN ECO &amp; CULINARY TOUR</span></h4>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">Your Name: <span data-validate-for="name" class="text-danger"></span></label>
						<input type="text" name="name" placeholder="Type your name" class="form-control">
					</div>
					<div class="form-group">
						<label for="email">Email: <span data-validate-for="email" class="text-danger"></span></label>
						<input type="text" name="email" placeholder="Type your email" class="form-control">
					</div>
					<div class="form-group">
						<label for="phone">Phone:</label>
						<input type="text" name="phone" placeholder="Type your phone" class="form-control">
					</div>
					<div class="form-group">
						<label for="content">Content/Note</label>
						<textarea name="content" id="content" rows="3" class="form-control"></textarea>
						<input type="hidden" name="tour" id="contact-box-tour" value="HOI AN ECO &amp; CULINARY TOUR">
					</div>
				</div>
				<div class="col-md-6">
					<img id="contact-box-image" src="https://triptovietnam.com.vn/storage/app/uploads/public/608/662/3f9/thumb_1609_600_400_0_0_crop.webp" alt="">
				</div>
				<div class="col-md-12 text-center">
					<button data-attach-loading="" id="sendcontact" class="btn btn-warning">Send</button>
				</div>
			</form>
		</div>
	</div>
	<button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
</div>